@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-primary: #222;
    --background-secondary: #1a1a1a;
    --text-primary: #fff;
    --text-secondary: rgba(255, 255, 255, 0.5);
    --font-primary: 'Work Sans', sans-serif;
    --font-secondary: monospace;
}

#root {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
}

body {
    background-color: var(--background-primary);
    color: var(--text-primary);
    font-family: var(--font-primary);
    overflow-x: hidden;
}